.container {
	max-width: 1820px;
	margin: auto;
	padding: 0 15px;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.btn {
	display: inline-flex;
	color: $white;
	background-color: #44c697;
	@include adaptive-value("font-size", 18, 16, 1024, 1);
	@include adaptive-value("padding-top", 14, 10, 1024, 1);
	@include adaptive-value("padding-bottom", 14, 10, 1024, 1);
	@include adaptive-value("padding-left", 46, 25, 1024, 1);
	@include adaptive-value("padding-right", 46, 25, 1024, 1);
	border-radius: 3px;
	text-transform: uppercase;
	line-height: 125%;
	cursor: pointer;
	transition: 0.2s all;
	@media (min-width: 991px) {
		&:hover {
			background-color: #2ea57a;
		}
		&:active {
			background-color: #44c697;
			transform: translateY(1px);
		}
	}
}
.header {
	min-height: 100vh;
	&__contacts {
		padding: 10px 0px;
		display: flex;
		justify-content: space-between;
		position: relative;
		&.fixed {
			padding: 5px 15px;
			animation: fixedMenu 0.3s forwards;
			position: fixed;
			z-index: 100;
			width: 100%;
			left: 0px;
			top: 0;
			background-color: $white;
			@media (min-width: 768px) {
				padding: 5px 15px 0 15px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0px;
			left: -15px;
			width: 100vw;
			height: 1px;
			opacity: 0.6;
			background-color: #1e2e36;
		}
		&.fixed::before {
			left: 0px;
		}
	}
	&__contacts-logo {
		& svg {
			width: 200px;
			height: 40px;
		}
		@media (min-width: 768px) {
			display: none;
		}
	}
	&__nav-burger {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: 768px) {
			display: none;
		}
	}
	&__nav-burger:before {
		content: "";
		background: url(./../images/content/burger.svg) no-repeat;
		background-size: contain;
		width: 30px;
		height: 30px;
		display: block;
		@media (min-width: 768px) {
			display: none;
		}
	}

	&__socials {
	}

	&__tel {
	}

	&__nav {
		display: none;
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		& a:not(:last-child) {
			@media (min-width: 768px) {
				margin-right: 10px;
			}
			@media (min-width: 1024px) {
				@include adaptive-value("margin-right", 15, 10, 1024, 1);
			}
		}
		& a {
			@media (min-width: 768px) {
				font-size: 15.5px;
			}
			@media (min-width: 1024px) {
				@include adaptive-value("font-size", 18, 15, 1024, 1);
			}
			text-transform: uppercase;
			line-height: 125%;
			border-bottom: 3px solid transparent;
			transition: 0.2s all;
			@media (min-width: 991px) {
				&:hover {
					border-bottom: 3px solid #44c697;
				}
				&:active {
					transform: translateY(1px);
				}
			}
		}
	}
	&__box {
		display: none;
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
		}
	}
}

@keyframes fixedMenu {
	0% {
		height: 0px;
	}
	100% {
		height: 50px;
	}
}
@media (min-width: 767px) {
	@keyframes fixedMenu {
		0% {
			height: 0px;
		}
		100% {
			height: 35px;
		}
	}
}
@media (min-width: 991px) {
	@keyframes fixedMenu {
		0% {
			height: 0px;
		}
		100% {
			height: 40px;
		}
	}
}

.socials-header {
	display: flex;
	align-items: center;
	margin-right: 50px;
	@include adaptive-value("margin-right", 50, 15, 1024, 1);
	&__text {
		margin-right: 3px;
		@include adaptive-value("font-size", 18, 16, 1024, 1);
		display: block;
		@media (max-width: 1023px) {
			display: none;
		}
	}

	&__links {
		& a:not(:last-child) {
			margin-right: 5px;
			@include adaptive-value("margin-right", 5, -5, 1024, 1);
		}
		& svg {
			object-fit: contain;
			width: 40px;
			height: 40px;
			@media (min-width: 768px) {
				margin-top: 4px;
				@include adaptive-value("width", 40, 30, 1024, 1);
				@include adaptive-value("height", 40, 30, 1024, 1);
			}
			@media (min-width: 1024px) {
				&:hover use {
					fill: #44c697;
					transition: 0.2s all;
				}
			}
		}
	}
}
.tel-header {
	display: flex;
	align-items: center;
	&__icon {
		@media (min-width: 768px) {
			display: none;
		}
		@media (min-width: 1024px) {
			display: block;
		}
		& svg {
			width: 30px;
			height: 30px;
			object-fit: contain;
			margin-left: 12px;
			fill: #fff;
			@media (min-width: 1024px) {
				margin-top: 4px;
				margin-right: 5px;
				margin-left: 0px;
				@include adaptive-value("width", 24, 20, 1024, 1);
				@include adaptive-value("height", 24, 20, 1024, 1);
			}
			@media (min-width: 1024px) {
				&:hover path {
					transition: 0.2s all;
					stroke: #44c697;
				}
			}
		}
	}
	&__link {
		display: none;
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
		}
		& a {
			@include adaptive-value("font-size", 18, 16, 1024, 1);
			border-bottom: 3px solid transparent;
			transition: 0.2s all;
			@media (min-width: 991px) {
				&:hover {
					border-bottom: 3px solid #44c697;
				}
			}
		}
		& svg {
			@include adaptive-value("margin-left", 10, 3, 1024, 1);
			margin-left: 10px;
			width: 14px;
			height: 8px;
			cursor: pointer;
			transition: 0.2s all;
			padding: 3px;
			box-sizing: content-box;
			@media (min-width: 1024px) {
				&:hover use {
					fill: #44c697;
					transition: 0.2s all;
				}
			}
		}
	}
}
.header {
	&__menu {
		display: flex;
		padding: 7px 0;
		@media (min-width: 1024px) {
			padding: 15px 0;
		}
	}

	&__logo {
		& svg {
			display: none;
			@media (min-width: 768px) {
				display: block;
				width: 280px;
				height: 55px;
				@media (min-width: 1024px) {
					@include adaptive-value("width", 360, 200, 1024, 1);
					@include adaptive-value("height", 75, 50, 1024, 1);
				}
			}
		}
	}

	&__carts {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		@media (min-width: 1024px) {
			margin-left: auto;
			flex-direction: row;
		}
	}

	&__cart {
		@media (max-width: 767px) {
			@include adaptive-value("margin-left", 730, 30, 320, 1);
		}
		@media (min-width: 1024px) {
			@include adaptive-value("margin-right", 30, 5, 1024, 1);
		}

		& a {
			display: flex;
			align-items: center;
			@include adaptive-value("font-size", 18, 16, 1024, 1);
			& span {
				@media (max-width: 1200px) {
					display: none;
				}
			}
		}
		& svg {
			width: 30px;
			height: 31px;
			@media (min-width: 1024px) {
				&:hover use {
					fill: #44c697;
					transition: 0.2s all;
				}
			}
			@media (min-width: 1024px) {
				@include adaptive-value("width", 30, 25, 1024, 1);
				@include adaptive-value("height", 31, 25, 1024, 1);
			}
			cursor: pointer;
			transition: 0.2s all;
			padding: 3px;
			box-sizing: content-box;
		}
	}

	&__call {
	}
}
.menu-header {
	display: flex;
	justify-content: space-between;
	&.fixed {
		animation: fixedMenuBottom 0.3s forwards;
		position: fixed;
		left: 0;
		bottom: 0;
		padding: 5px 15px;
		width: 100%;
		background-color: white;
		z-index: 100;
	}
	&__nav-burger {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: 1024px) {
			display: none;
		}
	}
	&__nav-burger:before {
		content: "";
		background: url(./../images/content/choice.png) no-repeat;
		background-size: contain;
		width: 30px;
		height: 30px;
		display: block;
		@media (min-width: 1024px) {
			display: none;
		}
	}
	&__items {
		@include adaptive-value("margin-right", 110, 40, 1024, 1);
		display: none;
		@media (min-width: 1024px) {
			display: flex;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		& a {
			@include adaptive-value("font-size", 18, 14.5, 1024, 1);
			text-transform: uppercase;
			border-bottom: 3px solid transparent;
			transition: 0.2s all;
			@media (min-width: 1024px) {
				&:hover {
					border-bottom: 3px solid #44c697;
				}
				&:active {
					transform: translateY(1px);
				}
			}
		}
		&:not(:last-child) {
			@include adaptive-value("margin-right", 15, 5, 1024, 1);
		}
		& svg {
			@include adaptive-value("margin-left", 10, 0, 1024, 1);
			margin-left: 10px;
			width: 14px;
			height: 8px;
			cursor: pointer;
			transition: 0.2s all;
			padding: 3px;
			box-sizing: content-box;
			@media (min-width: 1024px) {
				&:hover use {
					fill: #44c697;
					transition: 0.2s all;
				}
			}
		}
	}
}
.menu-header.fixed .header__logo {
	@media (min-width: 768px) {
		& svg {
			height: 40px;
		}
	}
	@media (min-width: 1024px) {
		& svg {
			height: 40px;
		}
	}
}
@keyframes fixedMenuBottom {
	0% {
		height: 0px;
	}
	100% {
		height: 40px;
	}
}
@media (min-width: 767px) {
	@keyframes fixedMenuBottom {
		0% {
			height: 0px;
		}
		100% {
			height: 50px;
		}
	}
}
@media (min-width: 991px) {
	@keyframes fixedMenuBottom {
		0% {
			height: 0px;
		}
		100% {
			height: 50px;
		}
	}
}

.home {
	@include adaptive-value("margin-bottom", 100, 40, 320, 1);
	&__slide {
		width: 100%;
		// @include adaptive-value("height", 785, 500, 1024, 1);
		height: 82vh;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}

	&__block-img {
		padding: 0 3px 0 13px;
		position: relative;
		left: 15px;
		@include adaptive-value("width", 460, 130, 320, 1);
		// @include adaptive-value("height", 670, 250, 320, 1);
		height: 90%;
		@media (min-width: 768px) {
			@include adaptive-value("width", 460, 150, 320, 1);
			left: 20px;
		}
		@media (min-width: 1024px) {
			left: 50px;
			@include adaptive-value("width", 460, 350, 1024, 1);
			height: 90%;
			// @include adaptive-value("height", 670, 450, 1024, 1);
		}
		background-color: $white;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 10px;
			background: #44c697;
		}
	}

	&__title {
		text-align: center;
		@include adaptive-value("font-size", 64, 24, 320, 1);
		@media (min-width: 768px) {
			@include adaptive-value("font-size", 64, 50, 1024, 1);
		}
		@include adaptive-value("margin-bottom", 50, 25, 1024, 1);
		@include adaptive-value("padding-top", 100, 50, 1024, 1);
		line-height: 100%;
	}

	&__subtitle {
		text-align: center;
		@include adaptive-value("font-size", 36, 16, 320, 1);
		@media (min-width: 768px) {
			@include adaptive-value("font-size", 36, 25, 1024, 1);
		}
		margin-bottom: 10px;
		line-height: 125%;
	}
	& p {
		text-align: center;
		@include adaptive-value("font-size", 36, 14, 320, 1);
		margin-bottom: 10px;
		@media (min-width: 768px) {
			@include adaptive-value("font-size", 36, 25, 1024, 1);
			@include adaptive-value("margin-bottom", 30, 15, 1024, 1);
		}

		line-height: 125%;
		font-family: $font-regular;
	}
	&__btn {
		display: flex;
		justify-content: center;
	}
}

.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
	@include adaptive-value("bottom", 260, 150, 1024, 1);
	@include adaptive-value("left", -655, -250, 768, 0);
	@media (min-width: 768px) {
		@include adaptive-value("left", -655, -245, 768, 0);
	}
	@media (min-width: 1024px) {
		@include adaptive-value("left", -635, -285, 1024, 0);
	}
	@media (min-width: 1900px) {
		@include adaptive-value("left", -655, -285, 1024, 0);
	}
}
.swiper-pagination-current {
	@include adaptive-value("font-size", 36, 24, 320, 1);
	line-height: 125%;
}
.swiper-pagination-total {
	@include adaptive-value("font-size", 24, 18, 320, 1);
	line-height: 125%;
}

.swiper .home-next {
	@include adaptive-value("left", 260, 136, 768, 0);
	@include adaptive-value("top", 530, 370, 1024, 0);
	@media (min-width: 768px) {
		@include adaptive-value("left", 260, 140, 768, 0);
	}
	@media (min-width: 1024px) {
		@include adaptive-value("left", 270, 230, 1024, 0);
	}
	right: auto;
	@media (min-width: 1024px) {
		&:hover::before {
			transform: scale(1.1);
		}
	}
}
.swiper .home-next.swiper-button-disabled {
	@include adaptive-value("left", 260, 136, 768, 0);
	@include adaptive-value("top", 530, 370, 1024, 0);
	@media (min-width: 768px) {
		@include adaptive-value("left", 260, 140, 768, 0);
	}
	@media (min-width: 1024px) {
		@include adaptive-value("left", 270, 230, 1024, 0);
	}
	right: auto;
}

.swiper .home-prev.swiper-button-disabled {
	@include adaptive-value("left", 223, 104, 768, 0);
	@include adaptive-value("top", 530, 370, 1024, 0);
	@media (min-width: 768px) {
		@include adaptive-value("left", 223, 110, 768, 0);
	}
	@media (min-width: 1024px) {
		@include adaptive-value("left", 233, 198, 1024, 0);
	}
	right: auto;
}
.swiper .home-prev {
	@include adaptive-value("left", 223, 104, 768, 0);
	@include adaptive-value("top", 530, 370, 1024, 0);
	@media (min-width: 768px) {
		@include adaptive-value("left", 223, 110, 768, 0);
	}
	@media (min-width: 1024px) {
		@include adaptive-value("left", 233, 198, 1024, 0);
	}
	right: auto;
	@media (min-width: 1024px) {
		&:hover::before {
			transform: scale(1.1);
		}
	}
}
.home-next:after {
	display: none;
}
.home-prev:after {
	display: none;
}
.home-next::before {
	content: "";
	background: url(./../images/content/right.svg) no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: 0.2s all;
	padding: 3px;
	box-sizing: content-box;
	transition: 0.2s all;
}
.home-prev::before {
	content: "";
	background: url(./../images/content/left.svg) no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: 0.2s all;
	padding: 3px;
	box-sizing: content-box;
	transition: 0.2s all;
}

.advantage {
	@include adaptive-value("margin-bottom", 100, 40, 320, 1);
	&__title {
		display: flex;
		justify-content: center;
		@include adaptive-value("margin-bottom", 50, 30, 320, 1);
	}

	&__slide {
		position: relative;
		display: -webkit-box;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		padding: 10px;
		@include adaptive-value("height", 350, 200, 320, 1);
		background-repeat: no-repeat !important;
		background-size: cover !important;
		border-radius: 3px;
		cursor: pointer;
		transition: 0.2s all;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(30, 46, 54, 0.5), rgba(30, 46, 54, 0.5));
		}
		@media (min-width: 768px) {
			padding: 20px;
		}
		@media (min-width: 1024px) {
			padding: 30px;
		}
	}

	&__slide-title {
		transition: 0.2s all;
		position: relative;
		z-index: 1;
		left: 0;
		display: inline-block;
		@include adaptive-value("font-size", 36, 22, 320, 1);
		font-size: 36px;
		line-height: 125%;
		color: $white;
		border-bottom: 3px solid #44c697;
		@include adaptive-value("margin-bottom", 15, 5, 320, 1);
		margin-bottom: 0;
		@media (min-width: 1024px) {
			transform: translateY(90px);
		}
		@media (min-width: 1102px) {
			transform: translateY(70px);
		}
		@media (min-width: 1600px) {
			transform: translateY(60px);
		}
	}

	&__slide-text {
		position: relative;
		z-index: 1;
		@media (min-width: 1024px) {
			// display: none;
			opacity: 0;
			visibility: hidden;
			transform: translateY(100%);
		}
		transition: 0.2s all;
		@include adaptive-value("font-size", 18, 14, 320, 1);
		line-height: 125%;
		font-family: $font-regular;
		color: $white;
		transition: 0.2s all;
	}
}
.advantage__slide:hover .advantage__slide-text {
	display: block;
	transform: translateY(0%);
	opacity: 1;
	visibility: visible;
}
.advantage__slide:hover .advantage__slide-title {
	transform: translateY(0px);
}

.title {
	@include adaptive-value("font-size", 48, 28, 320, 1);
	position: relative;
	display: inline-block;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -4px;
		transform: translateY(-50%);
		padding-right: 5px;
		z-index: -1;
		@include adaptive-value("height", 50, 35, 320, 1);
		@include adaptive-value("width", 20, 15, 320, 1);
		background-color: #44c697;
	}
}
.advantage-swiper-next:after {
	display: none;
}
.swiper-button-prev:after {
	display: none;
}
.advantage-swiper-next::before {
	content: "";
	background: url(./../images/content/right.svg) no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: 0.2s all;
	padding: 3px;
	box-sizing: content-box;
	transition: 0.2s all;
}
.swiper-button-prev::before {
	content: "";
	background: url(./../images/content/left.svg) no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: 0.2s all;
	padding: 3px;
	box-sizing: content-box;
	transition: 0.2s all;
}
.swiper .advantage-swiper-next {
	@media (max-width: 767px) {
		top: 50px;
	}
	@media (min-width: 1024px) {
		&:hover::before {
			transform: scale(1.1);
		}
	}
}
.swiper .advantage-swiper-prev {
	@media (max-width: 767px) {
		top: 50px;
	}
	@media (min-width: 1024px) {
		&:hover::before {
			transform: scale(1.1);
		}
	}
}

.categories {
	@include adaptive-value("margin-bottom", 110, 50, 320, 1);
	&__title {
		display: flex;
		justify-content: center;
		@include adaptive-value("margin-bottom", 50, 35, 320, 1);
	}

	&__categories {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 40px;
		row-gap: 25px;
		@include adaptive-value("margin-bottom", 80, 30, 320, 1);
		@media (min-width: 768px) {
			justify-content: space-between;
		}
	}

	&__categori {
		& a:not(:last-child) {
			@media (min-width: 768px) {
				margin-right: 10px;
			}
			@media (min-width: 1024px) {
				@include adaptive-value("margin-right", 15, 10, 1024, 1);
			}
		}
		& a span {
			@media (min-width: 768px) {
				font-size: 15.5px;
			}
			@media (min-width: 1024px) {
				@include adaptive-value("font-size", 18, 15, 1024, 1);
			}
			text-transform: uppercase;
			line-height: 125%;
			border-bottom: 3px solid transparent;
			transition: 0.2s all;
		}
		& a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		& svg {
			width: 100px;
			height: 100px;
			@include adaptive-value("width", 100, 60, 768, 1);
			@include adaptive-value("height", 100, 60, 768, 1);
			@include adaptive-value("margin-bottom", 8, 5, 320, 1);
		}
		&:hover a span {
			@media (min-width: 991px) {
				border-bottom: 3px solid #44c697;
				transition: 0.2s all;
			}
		}
		&:hover svg use {
			@media (min-width: 991px) {
				fill: #44c697;
				transition: 0.2s all;
			}
		}
	}
}
.categories {
	&__btn {
		display: flex;
		justify-content: center;
		@include adaptive-value("margin-top", 50, 25, 320, 1);
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 30px;
		row-gap: 25px;
		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: 1024px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__item {
		cursor: pointer;
		transition: 0.2s all;
		@media (min-width: 1024px) {
			&:hover {
				transform: translateY(-20px);
			}
			&:hover .categories__item-box {
				background-color: #44c697;
				& .categories__item-name {
					color: $white;
				}
				& .categories__item-price {
					color: $white;
					&.stock {
						color: $white;
						background-color: #44c697;
						& span {
							color: $white;
							background-color: #44c697;
						}
					}
				}
			}
		}
	}
	.new,
	.hit {
		text-align: center;
		max-width: 125px;
		font-size: 18px;
		line-height: 125%;
		color: $white;
		padding: 5px 15px;
		background-color: $black;
		margin: 10px 0;
	}

	.stock {
		text-align: center;
		max-width: 85px;
		font-size: 18px;
		line-height: 125%;
		color: $white;
		padding: 5px 15px;
		background-color: #ff1b1b;
	}

	&__item-img {
		display: flex;
		flex-direction: column;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		width: 100%;
		height: 200px;
		@media (min-width: 768px) {
			height: 300px;
		}
	}

	&__item-box {
		display: flex;
		justify-content: space-between;
		padding: 5px;
		@media (min-width: 768px) {
			padding: 15px 5px;
		}
	}

	&__item-name {
		@include adaptive-value("font-size", 24, 15, 320, 1);
		line-height: 125%;
		text-transform: uppercase;
		padding-right: 5Q;
	}

	&__item-price {
		@include adaptive-value("font-size", 24, 15, 320, 1);
		line-height: 125%;
		text-transform: uppercase;
		&.stock {
			@include adaptive-value("font-size", 24, 15, 320, 1);
			color: #ff1b1b;
			background-color: $white;
			max-width: 100%;
			padding: 0;

			& span {
				color: #bcbdbb;
				text-decoration-line: line-through;
				@include adaptive-value("font-size", 18, 13, 320, 1);
				padding-left: 5px;
			}
		}
	}
}

.cupboard {
	width: 70px !important;
}

.about {
	@include adaptive-value("margin-bottom", 100, 50, 320, 1);
	&__title {
		display: flex;
		justify-content: center;
		@include adaptive-value("margin-bottom", 50, 30, 320, 1);
	}

	&__img {
		@include adaptive-value("height", 675, 350, 320, 1);
		width: calc(100% + 30px);
		left: -15px;
		@media (min-width: 768px) {
			width: 80%;
			left: auto;
			right: -15px;
		}
		margin-left: auto;
		position: relative;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
	&__block {
		width: 50%;
		left: 15px;
		@media (min-width: 768px) {
			left: -25%;
		}
		@media (min-width: 1024px) {
			width: 53%;
		}
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: $white;
		padding-left: 5px;
		@include adaptive-value("padding-top", 50, 15, 320, 1);
		@include adaptive-value("padding-bottom", 50, 15, 320, 1);
		padding-right: 5px;
		border-radius: 3px;
		overflow-y: auto;
		overflow-x: hidden;
		@include adaptive-value("height", 575, 300, 320, 1);
		@media (min-width: 768px) {
			@include adaptive-value("padding-right", 50, 15, 320, 1);
			padding-left: 0px;
		}

		& p {
			@include adaptive-value("margin-bottom", 15, 10, 320, 1);
			@include adaptive-value("font-size", 18, 16, 320, 1);
			line-height: 125%;
		}
		& span {
			color: #44c697;
			text-transform: uppercase;
			@include adaptive-value("font-size", 18, 16, 320, 1);
		}
	}
}
.about__block::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #f5f5f5;
	cursor: pointer;
}

.about__block::-webkit-scrollbar {
	background-color: #f5f5f5;
	width: 8px;
	cursor: pointer;
	@media (min-width: 1024px) {
		width: 15px;
	}
}

.about__block::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background: #44c697 !important;
}

.questions {
	@include adaptive-value("margin-bottom", 100, 50, 320, 1);
	&__title {
		display: flex;
		justify-content: center;
		@include adaptive-value("margin-bottom", 50, 50, 320, 1);
	}

	&__img {
		position: relative;
		width: 100%;
		@include adaptive-value("height", 675, 300, 320, 1);
		background-position: left !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		@media (min-width: 768px) {
			width: 85%;
			left: -15px;
		}
	}

	&__form {
		max-width: calc(100% + 30px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		top: 50%;
		padding-left: 30px;
		padding-right: 15px;
		background-color: $white;
		border-radius: 3px;
		transform: translateY(-50%);
		@include adaptive-value("height", 475, 370, 320, 1);
		@media (min-width: 768px) {
			height: auto;
			max-width: 350px;
			padding-right: 0px;
			right: -20%;
		}
		@media (min-width: 1024px) {
			max-width: 500px;
			padding-left: 60px;
			right: -17%;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 15px;
			height: 100%;
			background-color: #44c697;
			border-radius: 3px 0px 0px 3px;
		}
	}

	&__form-title {
		line-height: 125%;
		@include adaptive-value("margin-top", 50, 20, 320, 1);
		@include adaptive-value("margin-bottom", 30, 15, 320, 1);
		@include adaptive-value("font-size", 36, 24, 320, 1);
	}

	&__input {
		padding: 14px;
		width: 100%;
		@include adaptive-value("font-size", 18, 16, 320, 1);
		@include adaptive-value("margin-bottom", 15, 10, 320, 1);
		border: 1px solid #1e2e36;
		border-radius: 3px;
		transition: 0.2s all;
		cursor: pointer;
		&::placeholder {
			@include adaptive-value("font-size", 18, 16, 320, 1);
		}
		@media (min-width: 1024px) {
			&:hover {
				border: 1px solid #44c697;
			}
			&:focus {
				border: 1px solid #44c697;
			}
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		width: 100%;
		@include adaptive-value("margin-bottom", 30, 20, 320, 1);
	}

	&__text {
		font-family: $font-regular;
		@include adaptive-value("font-size", 18, 16, 320, 1);
		@include adaptive-value("margin-bottom", 50, 20, 320, 1);
		& a {
			@include adaptive-value("font-size", 18, 16, 320, 1);
			font-family: $font-body;
			display: inline-block;
		}
	}
}
